body{
    background-color: #e6e6ff;
    margin: 0px;
}
header{
    background: rgb(64,0,128);
    background: linear-gradient(180deg, rgba(64,0,128,1) 8%, rgba(89,0,179,1) 70%);
}
#hd{
    margin-top: 0px;
    padding-top: 1cm;
}
.top{
    color: white;
    font-family: csfont;
    font-size: 1cm;
    padding-bottom: 20px;
}
#message{
    border: 2px;border-style: hidden;
    height: 700px;
    padding-bottom: 25px;
}
#welcome{
    font-family: csfont2;
    text-align: center;
    padding-top: 20px;
}
#cbox{
    height: 400px;width: 40%;
    background-color: white;
    margin-left: 350px;
    padding-top: 70px;padding-left: 250px;
}
.cnn{
    height: 1cm;width: 10cm;
    font-size: 0.5cm;
    font-family: tahoma;
    margin-bottom: 10px;
}
.ccc{
    height: 2.5cm;width: 10cm;
    resize: none;
    font-size: 0.5cm;
    font-family: tahoma;
}
.ccx{
    font-size: 0.5cm;
    font-family: tahoma;
}
.btcc{
    background-color: #5900b3;
    color: white;
    font-size: 1cm;
    font-family: csfont2;
    margin-top: 5px;margin-left: 110px;
    border: hidden;
}
.btcc:hover{
    background-color: yellow;
    color: black;
}
#backbutton{
    width: 100%;height: 30px;
    background-color: #400080;
    font-family: csfont2;
    font-size: 0.5cm;
    border: none;
}
#backbutton:hover{
    background-color: #5900b3;
}
.footer{
    background-color: #7575a3;
    font-family: csfont2;
    font-size: 0.5cm;  
}
#shopfooter{
    color: #400080;
    font-size: 1cm;
    font-family: csfont;
    text-align: center;
    padding-top: 50px;
    margin-top: 2px;
}
.listfooter{
    padding-bottom: 5px;padding-top: 10px;
}
.footlink{
    color: black;
    font: csfont2;
    font-size: 0.5cm;
}
#address{
    font-family: csfont2;
    color: black;
    text-align: center;
    padding-bottom: 50px;
}
#copyfooter{
    color: black;
    font-family: tahoma;
    margin-bottom: 1px;
    padding-bottom: 100px;
    text-align: center;
}
@font-face {
    font-family: csfont;
    src: url(HatimuneFree.otf);
}
@font-face {
    font-family: csfont2;
    src: url(Beckman-Free.otf);
}




